{
    -fx-padding: 10px;
}

Label {
    -fx-padding: 5px;
    -fx-font-size: 10px;
}

TextFlow {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.credits {
    -fx-padding: 5px;
}

.app_name {
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}